@font-face {
  font-family: sf display;
  font-weight: 700;
  src: url(../fonts/SF-UI-Display-Bold.otf);
}
@font-face {
  font-family: sf display;
  font-weight: 500;
  src: url(../fonts/SF-UI-Display-Medium.otf);
}
@font-face {
  font-family: sf display;
  font-weight: 400;
  src: url(../fonts/SF-UI-Display-Regular.otf);
}
@font-face {
  font-family: sf display;
  font-weight: 600;
  src: url(../fonts/SF-UI-Display-Semibold.otf);
}
