@import url(https://sf.abarba.me/font.css);
.swiper-slide, .swiper-wrapper {
	height: 100%;
	position: relative
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

.container:after, .container:before {
	content: " "
}
@-ms-viewport {
	width: device-width
}
.fa-angle-up:before {
	content: "\f106"
}
@media (max-width:480px) {
	.vc_responsive {
		float: none;
		margin-left: 0;
		width: auto;
		padding: 0 1em
	}
	.vc_responsive #content {
		margin-bottom: 1em
	}
}
.has-small-font-size {
	font-size: 13px
}
.has-normal-font-size, .has-regular-font-size, h5 {
	font-size: 16px
}
.has-medium-font-size, h4 {
	font-size: 20px
}
.h1, .has-large-font-size, h1 {
	font-size: 36px
}
.has-huge-font-size, .has-larger-font-size {
	font-size: 42px
}
.clear, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .row:after {
	clear: both
}
.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	z-index: 1
}
.swiper-container-vertical>.swiper-wrapper {
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column
}
.swiper-wrapper {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	width: 100%;
	z-index: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}
.swiper-slide {
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	flex-shrink: 0;
	width: 100%
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
article, aside, details, figcaption, figure, footer, header, hgroup, input[type=file], main, menu, nav, section, summary {
	display: block
}

*, :after, :before, input[type=checkbox], input[type=radio] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

a, a:focus, a:hover {
	text-decoration: none
}
.img-thumbnail, .table, img, label {
	max-width: 100%
}

a:focus, a:hover {
	color: #539df0
}
a:focus, input[type=checkbox]:focus, input[type=file]:focus, input[type=radio]:focus {
	outline: -webkit-focus-ring-color auto 5px;
	outline-offset: -2px
}

.backtotop, a {
	transition: .5s
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: "SF Display";
	font-weight: 500;
	line-height: 1.1;
	color: inherit
}

.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px
}

.h2, h2 {
	font-size: 30px
}

.backtotop, .fa-fw, .fa-li {
	text-align: center
}

a, mark {
	color: #000
}
body, pre {
	color: #333;
	word-wrap: break-word
}

.container, .container-fluid {
	margin-right: auto;
	margin-left: auto
}

/*iPhone 5,5s */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.slider-content{
		margin-top: 125px;
	}
	.projectButton {
		width:100%;
		text-align: center;
	}
	.projectSlider .slider-content .link{
		margin-top: 60px;
	}
}

@media (min-width:768px) {
	.lead {
		font-size: 21px
	}
	.dl-horizontal dt {
		float: left;
		width: 160px;
		clear: left;
		text-align: right;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap
	}
	.dl-horizontal dd {
		margin-left: 180px
	}
	.container {
		width: 750px
	}
}
@media (min-width:992px) {
	.container {
		width: 970px
	}
}


.clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .row:after, .row:before {
	content: " ";
	display: table
}

.backtotop, .backtotop:focus, .backtotop:hover, .fa-inverse {
	color: #fff
}
.affix {
	position: fixed
}
@media (min-width:768px) and (max-width:991px) {
	.hidden-sm {
		display: none!important
	}
}
@media (min-width:992px) and (max-width:1199px) {
	.hidden-md {
		display: none!important
	}
}
@media (min-width:1200px) {
	.container {
		width: 1170px
	}
}
.fa, .fa-stack {
	display: inline-block
}
.fa {
	font: 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.fa-stack, img {
	vertical-align: middle
}

.fa-ul>li, .projectSlider .slider-item .item-content {
	position: relative
}

* {
	box-sizing: border-box
}
html {
	font-family: sans-serif
}

a {
	background: 0 0
}
a:active, a:hover {
	outline: 0
}

img {
	border: 0;
	height: auto
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "SF Display"
}

body {
	margin: 0;
	font-size: 16px;
	line-height: 1.6;
	background: #fff
}
a:hover {
	color: #539df0
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	line-height: 1.2;
	color: #000
}

h2 {
	font-size: 34px
}

.container {
	padding-left: 0;
	padding-right: 0
}
.projectSlider {
	height: 100vh;
	width: 100%;
	position: relative
}
.projectSlider .slider-item {
	position: relative;
	display: flex;
	align-items: center;
	height: 100vh;
	width: 100%
}
.projectSlider .slider-item .container {
	max-width: 1170px
}
.projectSlider .featured-img {
	opacity:.75;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	background-position: center
}
.projectSlider .featured-img .link {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20
}
.projectSlider .slider-content {
	position: relative;
	z-index: 10;
	display: inline-block
}
.projectSlider .slider-content .title {
	font-size: 72px;
	font-weight: 700;
	color: #000;
	line-height: 1;
	margin: 0 0 5px
}
.projectSlider .slider-content .subtitle {
	padding-left: 0;
	font-weight: 700;
	color: #000;
	letter-spacing: 8px
}
.projectSlider .slider-content .desc {
	width: 80%;
	margin-top: 10px;
	white-space: pre-line;
	font-size: 16px
}
.projectSlider .slider-content .link {
	margin-top: 30px;
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	color: #07f;
	letter-spacing: 2px
}

@media only screen and (min-width:960px) {
	body {
		overflow-x: hidden
	}
}

.header-layout .site-header .logo {
	min-height: 86px;
	display: flex;
	align-items: center
}
.sticky-header .site-header {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	z-index: 999;
	transition: padding .35s
}
.sticky-header .site-header:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: scale(1, 0);
	transition: transform .35s;
	content: "";
	background-color: #fff;
	transform-origin: 0 0;
	z-index: -1
}
.normal-container {
	padding-left: 50px;
	padding-right: 50px
}
.backtotop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 10000;
	background-color: #07f;
	border-radius: 5px;
	font-size: 20px;
	text-shadow: none;
	width: 35px;
	height: 35px;
	line-height: 32px
}
.rounded {
	border-radius: 10px
}
.projectButton {
	padding: 15px;
	border: 1px solid;
	border-radius: 3px
}
@media (max-width:1200px) {
	.sticky-header .site-header {
		padding: 0
	}
	.normal-container {
		padding-left: 30px;
		padding-right: 30px
	}
	.projectSlider .featured-img {
		opacity:.75;
		width: 80%
	}
}
@media (max-width:767px) {
	.hidden-xs {
		display: none!important
	}
	.container, .normal-container {
		padding-left: 15px;
		padding-right: 15px
	}
	.projectSlider .slider-content, .projectSlider .slider-item .container {
		width: 100%
	}
	.projectSlider .slider-content .title {
		font-size: 24px
	}
	.projectSlider .slider-content .subtitle {
		padding-left: 0;
		letter-spacing: 0;
		display: block;
		font-size: 14px
	}
	.projectSlider .slider-content .desc {
		display: none
	}
	.projectSlider .slider-content .link {
		margin-top: 60px;
	}

	.projNumber {
		margin-top: 50px !important;
		padding-right: 30px;
	}
}
.navLink{
  font-size: 12px;
  font-weight: 600;
  color: #000;
  letter-spacing: 2px
}
.navLinkActive {
  font-size: 12px;
  font-weight: 600;
  color: #000;
  letter-spacing: 2px;
  color: #07f;
}
.navLink:focus, .navLink:hover {
  color: #539df0;
}
.projNumber {
	width:100%;
	max-width:1170px;
	text-align: center;
	margin-top: 200px;
	position: fixed;
	font-size: 12px;
	letter-spacing: 3px;
	font-weight:600;
}
